nav
    h1#logo Ali Abdelbaky
    ul.nav-list    
        li.nav-links 
            a(href="") Home
        li.nav-links 
            a(href="") Contact
        li.nav-links 
            a(href="") About